@charset "utf-8";

.report_tag {
	margin: 2%;
	background: #EFEFEF;
	padding: 2%;
	text-align: left;
}

.round_border {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.table_cell {
	background: #FFFFFF;
	text-align: center;
	margin-left: 0.4%;
	margin-top: 0.4%;
	margin-buttom: 0.4%;
	margin-right: 0.4%;
}

.row_cell {
	background: #FEFEFE;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
}

.member_cell {
	padding-bottom: 0.8%;
	padding-top: 0.8%;
	padding-left: 1%;
	padding-right: 1%;
	font-family: 'Ubuntu', sans-serif;
}

.btn_list {
	width: 99.2%;
	border: none;
	cursor: pointer;
	font-family: 'Kanit', sans-serif;
	font-size: 12px;
	margin-top: 0.8%;
	margin-left: 0.4%;
	margin-buttom: 0.8%;
	background: #FFFFFF;
}

.btn_list:hover {
	background: #FCFCFC;
}

.btn_list:active {
	background: #FAFAFA;
}