body {
    background: rgb(32, 32, 32);
    padding: 0;
    margin: 0 auto;
    font-family: 'Kanit', sans-serif;
    position: relative;
}

.md-001{
    width: 85%;
    margin: 0 auto;
    background: #e6e6e6;
    padding: 2%;
}

.md-002{
    background: #bbbbbb;
    margin: 0 auto;
    margin-bottom: 2%;
    padding: 2%
}
.md-003{
    background: white;
}
.md-004{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 10px;
    color: white;
    font-size: 18px;
}
.md-005{
    width: 10%;
    background: #1f1f1f;
    cursor: pointer;
}
.md-005:hover{
    background: #3f3f3f;
}
.md-005:active{
    background: #2f2f2f;
}
.md-006{
    background: #f4f4f4;
}
.centerY{
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.round-corner{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.selected-grade{
    border: none;
    width: 95%;
    height: 35px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    align-self: center;
}
.selected-grade:active{
    border: none;
}

.header {
    background: #bbbbbb;
	margin: 0 auto;
	margin-bottom: 2%;
    padding: 1%;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.header div {
    font-size: 28px;
}

.init-choice {
    display: flex;
    font-size: 24px;
}

.init-choice div {
    width: 50%;
    text-align: center;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    background-color: white;
    cursor: pointer;
}

.init-choice div:hover {
    background-color:rgb(243, 243, 243);
}

.init-choice div:active {
    background-color:rgb(226, 226, 226);
}

.table-grade {
    width: 100%;
    border-spacing: 10px;
}

.seperator {
    padding-left: 0%;
    height: 25px;
    background: white;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    font-weight: 400;
}

.cell {
    background: white;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
    font-weight: 300;
}

.table-header {
    text-align: center;
    height: 45px;
    font-size: 22px;
    font-weight: 500;
}

.grade_select {
    cursor: pointer;
    position: relative;
}

.grade_select select {
    display: none;
}

.select_panel {
    cursor: default;
    position: absolute;
    z-index: 999;
    background-color: rgb(218, 218, 218);
    border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 4%;
    margin-left: -25%;
    width: 125%;
}

.grade_choice {
    width: 25%;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.grade_choice:hover {
    background-color: rgb(50, 50, 50);
}

.grade_choice:active {
    background-color: rgb(40, 40, 40);
}